<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <%- include('common-component/header'); %>
    <h1>This is Home</h1>
    <br>
    <a href="/new/product">Add New Product</a>
</body>
</html>